@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fafafa;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #171717;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

a,
button:hover {
  filter: brightness(90%);
}

a,
button:active {
  filter: brightness(105%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
